
@media screen  and (min-width: 480px) {
    .container {
        max-width: 428px;
    }

    .customer-soc-item {
        width: 190px;
    } 
    
    .features-section {
    padding-top: 107px;
    padding-bottom: 96px;
    }


}